<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>chattyevent.com</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>chattyevent</string>
      </array>
    </dict>
  </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ChattyEvent</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>chattyevent_app_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6709565406365779~8418953363</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music!</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MyApp does not need this permission</string>
	<key>NSCameraUsageDescription</key>
	<string>We use the Camera to take pictures, so you can send pictures to your friends or upload profile pictures</string>
	<key>NSContactsUsageDescription</key>
	<string>MyApp does not need this permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use the location so you can send your Current Location to your friends or other features</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use the location so you can send your Current Location to your friends or other features</string>
	<key>NSLocationUsageDescription</key>
	<string>We use the location so you can send your Current Location to your friends or other features</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use the location so you can send your Current Location to your friends or other features</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use the mircrophone so you can send Audio files to your friends</string>
	<key>NSMotionUsageDescription</key>
	<string>MyApp does not need this permission</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use photos(library) to take pictures, so you can send pictures to your friends or upload profile pictures</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>media</string>
</dict>
</plist>
